<button class="" mat-stroked-button [routerLink]="''" color="primary">Home</button>

<div class="margin-top-50">
  <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
  <div *ngIf="!loading">
    <mat-accordion *ngIf="products">
      <mat-expansion-panel *ngFor="let product of products" [expanded]="panelOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ product.name }}
          </mat-panel-title>
          <mat-panel-description>
            Articles
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><strong>ID: </strong> {{ product.id }}</p>
        <p><strong>Name: </strong> {{ product.name }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

